img {

  width: 90px;

  height: 90px;

  float: left;

}

#idCard {
 
  background-color:pink;
  color:black;

  border: 5px solid black;

  height: 14em;

  width: 25em;

}

body{
  background-color:DeepSkyBlue;
  color:black;
   
  margin: auto;
  width: 50%;
  padding: 10px;
}
